::ng-deep .mat-mdc-paginator {
  color: white;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: white !important;
}

::ng-deep .mat-mdc-select-value-text, 
::ng-deep .mat-mdc-select-arrow {
  color: white !important;
}

::ng-deep .mat-mdc-paginator-page-size-label,
::ng-deep .mat-mdc-paginator-range-label {
  color: white !important;
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

::ng-deep .mat-sort-header-content {
  color: white !important;
}

.header-container {
  display: flex;
  width: 100%;
}

.header-date {
  width: 33.33%;
  text-align: left;
  padding-left: 1rem;
}

::ng-deep .header-date .mat-sort-header-container {
  justify-content: flex-start !important;
}

.header-credits {
  width: 33.33%;
  text-align: center;
}

::ng-deep .header-credits .mat-sort-header-container {
  justify-content: center !important;
}

.header-price {
  width: 33.33%;
  text-align: right;
  padding-right: 1rem;
}

::ng-deep .header-price .mat-sort-header-container {
  justify-content: flex-end !important;
}