body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
}
  
.content {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
  
router-outlet {
  display: none;
}
